<ul class="cat-list">
    {% for c in cat %}
    <li>
        <a href="#" class="d-flex justify-content-between">
            <p>{{ c.category_name }} </p>
            <p>{{ c.all_posts.count }}</p>
            <ul>
            
            {% for post in c.all_posts %}
                <li><a href="">{{ post.title }}</a></li>
            {% endfor %}
                
            </ul>
        </a>
    </li>
    {% endfor %}
    
    <!-- <li>
        <a href="#" class="d-flex justify-content-between">
            <p>Lifestyle</p>
            <p>24</p>
        </a>
    </li>
    <li>
        <a href="#" class="d-flex justify-content-between">
            <p>Fashion</p>
            <p>59</p>
        </a>
    </li>
    <li>
        <a href="#" class="d-flex justify-content-between">
            <p>Art</p>
            <p>29</p>
        </a>
    </li>
    <li>
        <a href="#" class="d-flex justify-content-between">
            <p>Food</p>
            <p>15</p>
        </a>
    </li>
    <li>
        <a href="#" class="d-flex justify-content-between">
            <p>Architecture</p>
            <p>09</p>
        </a>
    </li>
    <li>
        <a href="#" class="d-flex justify-content-between">
            <p>Adventure</p>
            <p>44</p>
        </a>
    </li> -->
</ul>
